@media all and (min-width: 800px) {
    .slider-ui {

        .nav h1,
        .slider h1 {
            font-size: 5vw;
        }

        .nav h2,
        .slider h2 {
            font-size: 3vw;
        }

        .nav-tab {
            font-size: 3vw;
        }
    }
}

@media all and (max-width: 800px) {

    .card-ui-blog:before,
    .card-ui-blog:after {
        animation: none;
        opacity: 1;
    }
}

@media all and (max-width: 360px) {
    .slider-ui {

        .nav h1,
        .slider h1 {
            font-size: 8vw;
        }

        .nav h2,
        .slider h2 {
            font-size: 2vw;
            letter-spacing: 0.2vw;
        }

        .nav-tab {
            font-size: 1.2vw;
        }
    }
}